<div class="row">
  <div class="col m10 offset-m1">
    <div class="col m4 image"> <img ng-src={{wineShowCtrl.wine.image}}></div>
    <div class="col m7 offset-m1 wine-name">
      <a ng-href="/wines/{{each._id}}"> {{wineShowCtrl.wine.name}} </a>
      <div class="wine-details"> {{wineShowCtrl.wine.country}}, {{wineShowCtrl.wine.year}}</div>
      <div class="wine-desc"> {{wineShowCtrl.wine.description}}</div>
      <div class="price-show"> ${{wineShowCtrl.wine.price}}.00 </div>
      <div class="buttons">

        <img class="cart-show" src="http://www.pngmart.com/files/3/Add-To-Cart-Button-PNG-Pic.png">
      </div>
    </div>
  </div>
</div>
