<div class="row show">
  <div class="col m10 offset-m1">
    <div class="col m4"> <img class="pic" ng-src={{wineShowCtrl.wine.image}}></div>
    <div class="col m7 offset-m1 wine-name">
      {{wineShowCtrl.wine.name}}
      <div class="wine-details"> {{wineShowCtrl.wine.country}}, {{wineShowCtrl.wine.year}}</div>
      <div class="wine-desc"> {{wineShowCtrl.wine.description}}</div>
      <div class="price-show"> ${{wineShowCtrl.wine.price}}.00 </div>
      <div class="buttons">
        <a class="waves-effect waves-light btn" ng-click="wineShowCtrl.deleteWine(wineShowCtrl.wine)"> Delete </a>
        <a class="waves-effect waves-light btn"> Edit </a>
      </div>
    </div>
  </div>
</div>
